{% extends "base.html" %}

{% block title %}
    Entidades | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Entidades</li>
  </ol>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    Entidades
  </div>
</div>
<div class="jumbotron">
  <div class="row">
    {% for e in entity_list %}
    <div class="col-lg-4" >
      <div class=thumbnail style="min-height: 15rem;">
        <div class=caption>
          <h4 class="text-center">
            <a href="{{ e.get_absolute_url }}">{{ e.slug }}</a>
          </h4>
          <h4 class="text-center">{{ e.name }}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
