{% extends "base.html" %}

{% block title %}
    Entidades | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Entidades</li>
  </ol>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Entidades
  </div>
</div>
<div class=bs-example data-example-id=thumbnails-with-custom-content>
  <div class="row">
    {% for e in entity_list %}
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail>
        <div class=caption>
          <h4><a href="{{ e.get_absolute_url }}">{{ e.slug }}</a></h4>
          <h4>Nome: {{ e.name }}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
