{% extends "base.html" %}

{% block title %}
    {{ current_entity.slug }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'listatelefonica:entity_list' %}">Entidades</a></li>
    <li class="breadcrumb-item active">{{ current_entity.slug }}</li>
  </ol>
</div>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="panel-heading">
    <h4>{{ current_entity.name }}
      {% if current_entity.phoneent != '' %}
      - {{ current_entity.phoneent }}
      {% endif %}
    </h4>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    Acessos
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    {% if user.is_authenticated %}
    {% for a in access_list %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" style="min-height: 10rem;">
        <div class=caption>
          <h5 class="text-center">{{a.accesstype}}: <a href="#" class=button1>{{ a.identifier }}</a></h5>
          {% if a.description != '' %}
          <h5 class="text-center">{{a.description}}</h5>
          {% else %}
          <h5 class="text-center">-</h5>
          {% endif %}
          <h5 class="text-center">Senha: <a href="#" class=button1>{{ a.password }}</a></h5>

        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="">
      <h3 class="text-center">Realize o login para ter acesso às informações de acesso.</h3>
      <p class="text-center">
        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Logar</a>
      </p>
    </div>
    {% endif %}
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    Contatos
  </div>
</div>
<div class="jumbotron">
  <div class="row">
    {% for t in phone_list %}
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail style="min-height: 22rem;">
        <div class=caption>
          <h5 class="text-center">{{ t.name }} {{t.lastname}}</h5>
          <h5 class="text-center">{{ t.entity.slug }}</h5>
          <h5 class="text-center">{{ t.phone }}</h5>
          {% if t.phonesec != '' %}
          <h5 class="text-center">{{ t.phonesec }}</h5>
          {% else %}
          <h5 class="text-center">-</h5>
          {% endif %}
          {% if t.ramal != '' %}
          <h5 class="text-center">Ramal: {{ t.ramal }}</h5>
          {% else %}
          <h5 class="text-center">-</h5>
          {% endif %}

          <p class="text-center">
            <a href="../contatos/{{t.slug}}" class="btn btn-primary btn-sm" role=button>Ver</a>
            <!--<a href="" class="btn btn-default btn-sm" role=button>Editar</a>-->
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
