{% extends "base.html" %}

{% block title %}
    {{ current_entity.slug }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>{{ current_entity.slug }}</h1>
</div>
<div class="row">
    {% for telefone in phone_list %}
    <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <!--<img alt="Generic placeholder thumbnail" data-src=holder.js/100%x200>-->
      <div class=caption>
        <h3>{{ telefone.slug }}</h3>
        <h4>Tel.: {{ telefone.phone }}</h4>
        <p>Nome: {{ telefone.name }}</p>
        <p>Criado em: {{ telefone.created }}</p>
        <p>Modificado em: {{ telefone.modified }}</p>
        <p><a href=# class="btn btn-primary" role=button>Ver</a>
        <a href=# class="btn btn-default" role=button>Editar</a></p>
      </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
