{% extends "base.html" %}

{% block title %}
    Telefones | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'listatelefonica:entity_list' %}">Entidades</a></li>
    <li class="breadcrumb-item active">Contatos</li>
  </ol>
</div>

{% if user.is_authenticated %}

<div class="panel panel-primary">
  <div class="panel-body">
    Contatos
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    {% for t in phone_list %}
    <div class="col-lg-4">
      <div class=thumbnail>
        <div class=caption>
          <h5 class="text-center">{{ t.name }} {{ t.lastname }}</h5>
          <h5 class="text-center">{{ t.entity.slug }}</h5>
          {% if t.department != '' %}
          <h5 class="text-center">{{ t.department }}</h5>
          {% else %}
          <h5 class="text-center">-</h5>
          {% endif %}
          <h5 class="text-center">{{ t.phone }}</h5>
          {% if t.phonesec != '' %}
          <h5 class="text-center">{{ t.phonesec }}</h5>
          {% else %}
          <h5 class="text-center">-</h5>
          {% endif %}
          <!--<p>Identificador: {{ t.slug }}</p>-->
          {% if t.ramal != '' %}
          <h5 class="text-center">Ramal: {{ t.ramal }} </h5>
          {% else %}
          <h5 class="text-center">-</h5>
          {% endif %}
          <p class="text-center"><a href="../contatos/{{t.slug}}" class="btn btn-primary btn-sm" role=button>Ver</a>
          <!--<a href=# class="btn btn-default btn-sm" role=button>Editar</a>--></p>
        </div><!--caption-->
      </div><!--thumbnail-->
    </div><!--col-lg-4-->
    {% endfor %}
  </div><!--row-->
  {% else %}
  <div class="jumbotron">
    <h3 class="text-center">Realize o login para ter acesso às informações.</h3>
    <p class="text-center">
      <a class="btn btn-primary" href="{% url 'login' %}" role="button">Logar</a>
    </p>
  </div>
  {% endif %}
  {% endblock %}
</div>
