{% extends "base.html" %}

{% block title %}
    Telefones | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Telefones</li>
  </ol>
</div>
<div class="panel panel-primary">
  <div class="panel-body">
    Telefones
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    {% for t in phone_list %}
    <div class="col-lg-4">
      <div class=thumbnail>
        <div class=caption>
          <h5>{{ t.name }} {{t.lastname}}</h5>
          <h5>Tel.: {{ t.phone }}</h5>
          {% if t.phonesec != '' %}
          <h5>Tel2.: {{ t.phonesec }}</h5>
          {% else %}
          <h5>*</h5>
          {% endif %}
          <!--<p>Identificador: {{ t.slug }}</p>-->
          {% if t.ramal != '' %}
          <h5>Ramal: {{ t.ramal }} </h5>
          {% else %}
          <h5>*</h5>
          {% endif %}
          <p><a href="" class="btn btn-primary btn-sm" role=button>Ver</a>
          <a href=# class="btn btn-default btn-sm" role=button>Editar</a></p>          
        </div><!--caption-->
      </div><!--thumbnail-->
    </div><!--col-lg-4-->
    {% endfor %}
  </div><!--row-->
  {% endblock %}
</div>
