{% extends "base.html" %}

{% block title %}
    {{ current_phone.slug }} | {{ block.super }}
{% endblock %}

{% block container %}
    <div class="page-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'listatelefonica:entity_list' %}">Entidades</a></li>
        <li class="breadcrumb-item active">{{ current_phone.slug }}</li>
      </ol>
    </div>
    <div class="page-header">
		  <h3>Contato</h3>
		</div>
		<div class="row">
		  <div class="col-sm-4">
			  <a href="#" class="thumbnail">
				  <img src="http://placehold.it/350x250" alt="" />
			  </a>
		  </div>
		  <div class="col-sm-8">
			  <dl>
			  	<dt>Nome:</dt>
					<dd>{{ current_phone.name }}</dd>
					<dt>Sobrenome:</dt>
					<dd>{{ current_phone.lastname }}</dd>
          <dt>Entidade:</dt>
					<dd>{{ current_phone.entity }}</dd>
					<dt>Cargo:</dt>
					<dd>{{ current_phone.role }}</dd>
					<dt>Telefone:</dt>
					<dd>{{ current_phone.phone}}</dd>
					<dt>Telefone Secundario:</dt>
					<dd>{{ current_phone.phonesec }}</dd>
					<dt>Ramal:</dt>
					<dd>{{ current_phone.ramal }}</dd>
					<dt>Slug:</dt>
					<dd>{{ current_phone.slug }}</dd>
					<dt>Criado em:</dt>
					<dd>{{ current_phone.created }}</dd>
					<dt>Modificado em:</dt>
					<dd>{{ current_phone.modified }}</dd>
			  </dl>
		  </div>
		</div>
		{% endblock %}
