{% extends "base.html" %}

{% block title %}
    Telefones | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Telefones</li>
  </ol>
</div>

<div class=bs-example data-example-id=thumbnails-with-custom-content>
  <div class="row">
    {% for t in phone_list %}
    <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <div class=caption>
        <h4>{{ t.name }} {{t.lastname}}</h4>
        <h4>Tel.: {{ t.phone }}</h4>
        {% if t.phonesec != '' %}
        <h4>Tel2.: {{ t.phonesec }}</h4>
        {% endif %}
        <p>Identificador: {{ t.slug }}</p>
        {% if t.ramal != '' %}
        <p>Ramal: {{ t.ramal }} </p>
        {% endif %}
        <p><a href=# class="btn btn-primary btn-sm" role=button>Ver</a>
        <a href=# class="btn btn-default btn-sm" role=button>Editar</a></p>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
