<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Custom Sistemas{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'index' %}" class="navbar-brand">Custom Sistemas</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" id="entidades">Entidades <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="entidades">
								{% for entity in entities %}
								<li><a href="{{ entity.get_absolute_url }}">{{ entity }}</a></li>
								{% endfor %}
              </ul>
            </li>
						<li>
							<a href="{% url 'contact' %}">Contato</a>
						</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li><a href="#">Sair</a></li>
					{% else %}
					<li><a href="#">Entrar</a></li>
					{% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
		{% block container %}
		{% endblock %}
		</div>
		<div class="container">
		<footer id="footer">
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Voltar ao topo</a></li>
              <li><a href="{% url 'index' %}">Inicio</a></li>
              <li><a href="{% url 'listatelefonica:entity_list' %}">Entidades</a></li>
              <li><a href="{% url 'listatelefonica:phone_list' %}">Telefones</a></li>
            </ul>
            <p>Criado por <a href="">Isaac Giordani</a>.</p>
          </div>
        </div>

      </footer>
		</div>
	  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
</body>
</html>
